<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System.Configuration.ConfigurationManager, Version=4.0.3.0, Culture=neutral, PublicKeyToken=cc7b13ffcd2ddd51" >
      <section name="Core.Properties.Settings" type="System.Configuration.ClientSettingsSection, System.Configuration.ConfigurationManager, Version=4.0.3.0, Culture=neutral, PublicKeyToken=cc7b13ffcd2ddd51" requirePermission="false" />
    </sectionGroup>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System.Configuration.ConfigurationManager, Version=4.0.3.0, Culture=neutral, PublicKeyToken=cc7b13ffcd2ddd51" >
      <section name="Core.Properties.Settings" type="System.Configuration.ClientSettingsSection, System.Configuration.ConfigurationManager, Version=4.0.3.0, Culture=neutral, PublicKeyToken=cc7b13ffcd2ddd51" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <appSettings>
    <!--注册Url-->
    <add key="https://passport.tciplay.com/Account/Register" value=""/>
    <!-- 登录URI -->
    <add key="LoginURI" value="https://passport.tciplay.com" />
    <!-- 登录网址 -->
    <add key="LoginUrl" value="https://passport.tciplay.com/Account/Login" />
    <!-- 登录提交地址 -->
    <add key="SubmitUrl" value="https://passport.tciplay.com/Account/ExLogin" />
    <!-- 退出登录地址 -->
    <add key="LogoutUrl" value="http://login.tciplay.com/Account/Logout"/>
    <!-- 验证码网址 -->
    <add key="ValidateCodeUrl" value="https://passport.tciplay.com/Account/GetValidateCode" />
    <!-- 道具箱域名 -->
    <add key="PropDomain" value=".wushuangol.com"/>
    <!-- 道具箱URI -->
    <add key="PropURI" value="http://event.wushuangol.com" />
    <!-- 道具箱网址 -->
    <add key="PropUrl" value="http://event.wushuangol.com/shop/coupon/MyCouponList.aspx" />
    <!-- 超时时间 单位：秒 -->
    <add key="TimeOut" value="120" />
  </appSettings>
  <userSettings>
    <Core.Properties.Settings>
      <setting name="VerificationCodeIncorrect" serializeAs="String">
        <value>验证码不正确</value>
      </setting>
    </Core.Properties.Settings>
  </userSettings>
</configuration>